        <header>

                <div class="header-image-container">
                        <img src="the2.jpg" alt="THE">
                      </div>
                <h1 class="blog-site-name"> Awesome Blog of Everything™ </h1>
        </header>