            <meta charset="utf-8">

            <link rel="stylesheet" href="style.css">
            <title>Awesome blog</title> <!-- This is just a place holder page title, eventually we're
                                goings to want to replace a lot of this with template
                                variables, but this is just the ground work.-->

            <!-- Third party plugins / stylesheets would go here if we need them -->
            <script src = "/index.js" charset = "utf-8" defer></script>