body{

    font-family: "Garamond", "Comic Sans", cursive; 
	font-size: 24px;
	background-color: gray;
	color: black
}


header {
    background-color: white;
    align-items: center;
    display: flex;
    position: relative;
  }
  
a {
	color: #68babd;
	text-decoration: none;
}

nav{
	display: flex;
	background-color: #dadada;
}

.menu-items {
  display: block;
  font-size: 14px;
  padding: 3px;
  margin: 3px 5px;
  border: 1px solid #ababab;
  border-radius: 3px;
  background: #1b2122;
}

.menu-items:hover{
  border-color: black;
  color: white;
}  
h1{
	font-size: 44px;
}
h2{
    text-align: center;
}

h3 {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 150px;
    width: 300px;
    margin: 95px;
    padding: 67px;
    border: 1px solid #dadada;
    border-radius: 3px;	
}

 p{
	font-family: 'Oswald', sans-serif;
	color: black; 
	font-size: 20px;
	margin: 0px 150px 15px 100px;
	line-height: 30px;	
 }
 
 .categories {
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 300px;
  margin: 75px;
  padding: 50px;
  border: 1px solid #dadada;
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 180px;
}

.category-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

 
 .image-container img {
  max-height: 240px;
  max-width: 300px;
}


.button{
  font-family: "Garamond", "Comic Sans", cursive;
  font-size:14px;  
  background-color:#1b2122;
  color:#68babd;
  border:0;
}

.button:hover{

  background:#68babd;
  color:#1b2122;

}

.modal{

  display:none;
  position:fixed;
  z-index:1;
  left: 500px;
  top: 340px;
  height:50%;
  width:50%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.93);
  color:white;
  animation-name:BEHOLD;
  animation-duration:3s;

}

.modal-content{

  background-color:#f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0  rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.12);
  animation-name:BEHOLD;
  animation-duration:3s;

}
@keyframes BEHOLD{
  from{opacity: 0};
  toP{opacity: 1};
}


.closeBUTT{

  color:#ccc;
  float:right;
  font-size: 50px;
  animation-name:GOODBYE;
  animation-duration:3s;

}
@keyframes GOODBYE{
  from{opacity:1};
  to{opacity:0};
}


.closeBUTT:hover,.closeBUTT:focus{

  color:#25E1E7;
  text-decoration: none;
  cursor: pointer;


}