body{

    font-family: "Garamond", "Comic Sans", cursive; 
	font-size: 24px;
	background-color: gray;
	color: black
}


header {
    background-color: white;
    align-items: center;
    display: flex;
    position: relative;
  }
  
a {
	color: #68babd;
	text-decoration: none;
}

nav{
	display: flex;
	background-color: #dadada;
}

.menu-items {
  display: block;
  font-size: 14px;
  padding: 3px;
  margin: 3px 5px;
  border: 1px solid #ababab;
  border-radius: 3px;
  background: #1b2122;
}

.menu-items:hover{
  border-color: black;
  color: white;
}  
h1{
	font-size: 44px;
}
h2{
    text-align: center;
}

h3 {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 150px;
    width: 300px;
    margin: 95px;
    padding: 67px;
    border: 1px solid #dadada;
    border-radius: 3px;	
}

 p{
	font-family: 'Oswald', sans-serif;
	color: black; 
	font-size: 20px;
	margin: 0px 150px 15px 100px;
	line-height: 30px;	
 }
 
 .categories {
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 500px;
  margin: 100px;
  padding: 42px;
  border: 1px solid #dadada;
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 180px;
}

.category-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

 
 .image-container img {
  max-height: 240px;
  max-width: 300px;
}
